.Cards{
    width:97%;
    height:200px;
    /*background: linear-gradient(to right, rgba(231, 212, 212, 0.2) 0%, rgba(231, 212, 212, 0.2) 40%); */
    background-color: rgba(255, 255, 255, 0.2);
    border-radius:20px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin:12px;
    
}

.Card-Image{
    width: 100%;
    height:170px;
    border-radius: 15px;
    margin:20px;
}

.Description-Container{
    width:75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-para{
    color:rgb(218, 33, 33);
}


.Cards-Elements{
    display:flex;
    justify-content: space-around;
}