.body{
    box-sizing: border-box;
}
.Home-Container{
    height:100vh;
    width:100%;
    background-color: #0D042A;
    display:flex;
    justify-content: flex-start;
    color:#ffffff;
    box-sizing: border-box;
}

.Side-Bar{
    height:100vh;
    width:140px;

    border-top-right-radius:35px ;
    border-bottom-right-radius: 35px;
    background-color: #12063B;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top:40px;
    padding-bottom:40px;
    box-sizing: border-box;
    border: 1px solid #2E1C67;
   
}


.Strikeout-Logo-Home{
    font-size: 17px;
    font-weight: 400;
    color: #c96ff0;
    font-family: "Monoton";
}

.Cards-Container{
    width:90%;
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    text-align: center;
}


.Logout-Logo{
    font-size: 31px;
    margin:0px;
    
}

.Logout-Container{
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Logout-Text{
    margin:7px;
    font-size: 15px;
}

.react-Icons{
    font-size: 32px;
    color:#2E1C67;
    margin:15px;
}

.Cards-Main-Container{
    height:100vh;
    width:70%;
    display:flex;
    flex-direction: column;
    justify-content:flex-end ;
}

.Right-Bar{
    height:100vh;
    width:25%;
    background-color: #12063B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left:1px solid #2E1C67;;
}

.Search-Container{
    height:20%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    

}

.Input-Home{
    width:45%;
    height:30px;
    background-color: #FFFFFF;
    border-radius: 12px;
    font-size: 15px;
    padding-left:20px;
  
}



.Plus-Icon{
    font-size: 20px;
    margin:5px;
}