.body{
    box-sizing: border-box;
}
.Home-Container {
   display:flex;
   background-color: rgba(13, 4, 42, 1)
   ;
 
  
   
}

.Side-Bar{
    height:100vh;
    width:140px;

    border-top-right-radius:35px ;
    border-bottom-right-radius: 35px;
    background-color: #12063B;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top:40px;
    padding-bottom:40px;
    box-sizing: border-box;
    border: 1px solid #2E1C67;
    position: fixed;
    flex:1;
   
            
          
            position: fixed;
            height: 100%;
   
}


.Strikeout-Logo-Home{
    font-size: 17px;
    font-weight: 400;
    color: #c96ff0;
    font-family: "Monoton";
}

.Cards-Container{
   


    flex: 3;
            overflow-y: scroll;
           
           text-align:  center;
         align-self: center;
}


.Logout-Logo{
    font-size: 31px;
    margin:0px;
    
}

.Logout-Container{
   
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Logout-Text{
    margin:7px;
    font-size: 15px;
}

.react-Icons{
    font-size: 32px;
    color:#2E1C67;
    margin:15px;
}

.Cards-Main-Container{
    height:100vh;
    width:85%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.Right-Bar{
    height:100vh;
    width:25%;
    background-color: #12063B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left:1px solid #2E1C67;
    flex: 1;
            
            color: #fff;
            padding: 20px;
            position: fixed;
            height: 100%;
            right: 0;
    
}
/* Add the following styles to your existing CSS file or component */

/* Style for the search container */
.Search-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:transparent;
    align-self: center;
    padding: 10px;
    width:100%;
    height:100px;
    margin:20px 5px;
  }
  
  /* Style for the input element */
  #Input-Home {
    width: 60%;
    height:90px;
    /* Add any additional styles for the input element */
  }
  

#Input-Home{
    width:45%;
    height:30px;
    background-color: #FFFFFF;
    border-radius: 12px;
    font-size: 15px;
    padding-left:20px;
  
}



.Plus-Icon{
    font-size: 20px;
    margin:5px;
}



  
  /* Style for WebKit-based browsers (Chrome, Safari) */
  #scrollable-container-content::-webkit-scrollbar {
    width: 0.5em; /* Set the width of the scrollbar */
  }
  
 
  .react-Icons.selected {
   color:#ffffff;
    
  }

  .Middle-Container{
    height:100vh;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MyAccount-Container{

    background: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));

    width:30%;
    height:350px;
    border-radius: 25px;
    border:0.5px solid #2E1C67;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }