
.Home-Text{
    color:white;
    font-size: 23px;
    margin: 10px;
    font-weight: 600;
}

.about-Text{
    color:white;
    font-size: 21px;
    margin: 10px;
    font-weight: 600;
}

.Home-About-Container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:15%;

}


.Login-Button{
    border:3px solid #4F51C0;
    background-color: transparent;
    width:100px;
    height:40px;
    border-radius: 30px;
    color:#4F51C0;
    margin:5px;
    font-size: 17px;
    font-weight: bold;
}

.Singup-Button{
    background-color:#774DFF ;
    width:100px;
    height:40px;
    border-radius: 30px;
    border-style:none ;
    color: #ffffff;
    margin:5px;
    font-size: 16px;
    font-weight: bold;
}

#Login-Singup-Buttons{
   display:flex;
   justify-content: center;
   align-items: center;
    text-align: center;
   
}

.Landingpage-Sub-Container{
    width:85%;
    margin-top:15px;
    padding:50px;
    display: flex;
    justify-content: space-between;

}






.Strikeout-Logo{
    font-size: 25px;
    font-weight: 400;
    color: #c96ff0;
    font-family: "Monoton";
    align-self: flex-start;
}


   
.Header-Mobileview{
    display:none;
    justify-content: space-around;
    margin-top:15px;
}


@media screen and (max-width:540px){

    
    .Home-Text{
        color:white;
        font-size: 17px;
        margin: 10px;
        font-weight: 500;
    }
    
    .about-Text{
        color:white;
        font-size: 16px;
        margin: 10px;
        font-weight: 500;
    }
    
    
    .Login-Button{
        border:3px solid #4F51C0;
        background-color: transparent;
        width:60px;
        height:30px;
        border-radius: 13px;
        color:#4F51C0;
        margin:5px;
        font-size: 13px;
        font-weight: bold;
    }
    
    .Singup-Button{
        background-color:#774DFF ;
        width:60px;
        height:30px;
        border-radius: 13px;
        border-style:none ;
        color: #ffffff;
        margin:5px;
        font-size: 12px;
        font-weight: bold;
    }
    
    #Login-Singup-Buttons{
       display:flex;
       justify-content: center;
       align-items: center;
        text-align: center;
        display: none;
       
    }
    
    .Landingpage-Sub-Container{
        width:85%;
        margin-top:5px;
        padding:15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    
    }

    .Home-About-Container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: none;
    
    }
    
    
    
    
    
    
    
    
    .Strikeout-Logo{
        font-size: 18px;
        font-weight: 300;
        color: #c96ff0;
        font-family: "Monoton";
        align-self: flex-end;
    }

    .Strikeout-Logo-Container{
        width:100%;
        text-align: center;
    }
    
    .Header-Mobileview{
        display:flex;
        justify-content: space-around;
        margin-top:15px;
    }

    .Home-About-Container-MobileView{
        display: flex;
        justify-content: space-around;
    }
    
    #Login-Singup-Buttons-MobileView{
        display:flex;
        justify-content: center;
        align-items: center;
         text-align: center;
        
        
     }
     
      
    }

    @media screen and (min-width:760px) and (max-width:1024px){

        .Home-Text{
            color:white;
            font-size: 23px;
            margin: 10px;
            font-weight: 600;
        }
        
        .about-Text{
            color:white;
            font-size: 21px;
            margin: 20px;
            font-weight: 600;
        }
        

    }
    